<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="never"
        stopOnFailure="false"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        processIsolation="false"
        syntaxCheck="false"
        cacheTokens="true"
        verbose="false"
        columnsMax="true"
        loader="CITools Test Suite"
        bootstrap="./tests/Bootstrap.php">
    <testsuites>
        <testsuite name="CITools Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./system/</directory>
        </whitelist>
    </filter>
</phpunit>